body
{
	color:#333;
	background-color:#f0f0f0;
	font:14px/1.428571429 Roboto,sans-serif
}
a:focus,a:hover
{
	color:#2a6496;
	text-decoration:underline
}
	a:focus
{
	outline:thin dotted;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
*,:after,:before		
{		
	-webkit-box-sizing:border-box;		
	-moz-box-sizing:border-box;		
	box-sizing:border-box		
}		
	html		
{		
	font-size:62.5%;		
	-webkit-tap-highlight-color:rgba(0,0,0,0);		
	overflow-x:hidden		
}
img
{
	vertical-align:middle
}
	#hlm-isi-berbagi
{
	float:left;
	display:block;
	width:100%
}
.sharrre .box
{
	display:inline-block;
	position:relative;
	float:left;
	width:100%;
	clear:both
}
.sharrre .left
{
	display:inline-block;
	text-align:center;
	white-space:nowrap;
	font-weight:300;
	color:#72BA59;
	float:left
}
.sharrre .left span
{
	width:100%;
	font-size:87px;
	display:block;
	padding:20px 0;
	display:block;
	float:none
}
.sharrre .middle
{
	position:relative;
	top:0;
	width:auto;
	padding:15px;
	float:left;
	display:inline-block;
	color:#fff;
	white-space:nowrap;
	text-align:left
}
.sharrre .middle a
{
	color:#fff;
	font-weight:300;
	padding:5px 25px;
	border-radius:3px;
	text-align:center;
	float:left;
	margin-right:10px
}
.sharrre .middle a.facebook
{
	background:#4c66a4
}
.sharrre .middle a.twitter
{
	background:#00c3f3
}
.sharrre .middle a.googleplus
{
	background:#dd422b
}
.sharrre .middle a:hover
{
	text-decoration:none
}
	#halaman-awal-slide
{
	z-index:10;
	position:relative;
	left:0;
	display:block;
	width:100%;
	float:left
}
	ul.rcentside
{
	font:normal normal .8em monospace
}
	ul.rcentside,ul.rcentside li
{
	margin:0;
	padding:0;
	list-style:none;
	position:relative
}
	ul.rcentside
{
	width:100%;
	height:440px
}
	ul.rcentside li
{
	height:24.5%;
	position:absolute;
	padding:0;
	width:49.5%;
	float:left;
	overflow:hidden;
	display:none
}
	ul.rcentside li:nth-child(1),ul.rcentside li:nth-child(2),ul.rcentside li:nth-child(3),ul.rcentside li:nth-child(4)
{
	display:block
}
	ul.rcentside img
{
	border:0;
	width:100%;
	height:100%
}
	ul.rcentside li:nth-child(1)
{
	width:50%;
	height:100%;
	margin:0 0 2px;
	left:0;
	top:0
}
	ul.rcentside li:nth-child(2)
{
	left:50%;
	top:0;
	width:25%;
	height:100%
}
	ul.rcentside li:nth-child(3)
{
	right:0;
	top:0;
	width:25%;
	height:50%
}
	ul.rcentside li:nth-child(4)
{
	right:0;
	top:50%;
	width:25%;
	height:50%
}
	ul.rcentside .overlayx,ul.rcentside li
{
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
}
	ul.rcentside .overlayx
{
	width:100%;
	height:100%;
	position:absolute;
	z-index:2;
	left:0;
	top:0;
	background:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,transparent),color-stop(100%,#000));
	background:-webkit-linear-gradient(transparent,#000);
	background:-moz-linear-gradient(transparent,#000);
	background:-o-linear-gradient(transparent,#000);
	background:linear-gradient(transparent,#000)
}
	ul.rcentside img
{
	border-right:.1em solid #9E9E9E
}
	ul.rcentside .overlayx:hover
{
	opacity:.5;
	background:#000
}
	ul.rcentside h4
{
	position:absolute;
	bottom:30px;
	z-index:2;
	color:#fff;
	margin:0;
	width:100%;
	font-size:2.5em;
	padding:0 10px;
	line-height:1em;
	font-family:'Slabo 27px',serif;
	font-weight:400
}
	ul.rcentside li:nth-child(1) h4
{
	font-size:5em
}
	ul.rcentside .label_text
{
	position:absolute;
	bottom:10px;
	left:10px;
	z-index:2;
	color:#ffb056
}
	ul.rcentside li:nth-child(2) .autname,ul.rcentside li:nth-child(3) .autname
{
	display:none
}
.hal-awal-sider-tombol
{
	margin:5px 0 0;
	top:50%;
	position:absolute;
	width:100%
}
.tombol
{
	top:45%;
	width:100%;
	display:block;
	position:absolute;
	z-index:5
}
.tombol a
{
	display:inline-block;
	text-indent:-9999px;
	background:rgba(0,0,0,0.82);
	position:relative;
	padding:15px 35px
}
.tombol a.sebelum
{
	float:left
}
.tombol a.sesudah
{
	float:right
}
.tombol a::before
{
	content:"";
	width:0;
	height:0;
	border-width:8px 7px;
	border-style:solid;
	border-color:transparent #535353 transparent transparent;
	position:absolute;
	top:50%;
	margin-top:-8px;
	margin-left:-10px;
	left:50%
}
.tombol a.sebelum::before
{
	border-color:transparent transparent transparent #535353;
	margin-left:-3px
}
.tombol a.sesudah::before
{
	border-color:transparent transparent transparent #535353;
	margin-left:-3px
}
.btn-def
{
	width:16px;
	height:17px;
	background:url(http://3.bp.blogspot.com/-F6JS0gzLxag/UwI54vaUTlI/AAAAAAAAATE/EEQ-eSyg-yc/s1600/search.png) no-repeat;
	display:inline-block;
	vertical-align:middle;
	zoom:1;
	text-shadow:none;
	color:transparent;
	border:none;
	background-color:transparent;
	z-index:671;
	margin-left:-30px
}
.form-main-search
{
	padding-right:30px
}
.masonry,.masonry .masonry-brick
{
	-webkit-transition-duration:.7s;
	-moz-transition-duration:.7s;
	-ms-transition-duration:.7s;
	-o-transition-duration:.7s;
	transition-duration:.7s
}
.masonry
{
	-webkit-transition-property:height,width;
	-moz-transition-property:height,width;
	-ms-transition-property:height,width;
	-o-transition-property:height,width;
	transition-property:height,width
}
.masonry .masonry-brick
{
	-webkit-transition-property:left,right,top;
	-moz-transition-property:left,right,top;
	-ms-transition-property:left,right,top;
	-o-transition-property:left,right,top;
	transition-property:left,right,top
}
.bottom-article
{
	display:inline-block;
	font-weight:700
}
.bottom-article span
{
	float:right;
	display:inline-block
}
.bottom-article span .fb-like
{
	margin:-3px 10px 0;
	padding:0
}
.post-label
{
	display:block;
	font-size:13px
}
.post-label a
{
	padding:5px;
	color:#339023;
	font-weight:700
}
.boxframe:before
{
	content:'';
	position:absolute;
	width:0;
	height:0;
	left:25px;
	top:-30px;
	border-style:solid;
	border-width:0 20px 30px;
	border-color:transparent transparent #000
}
	#related-posts li
{
	margin-bottom:10px;
	padding-bottom:10px;
	display:block;
	float:left;
	margin-left:15px;
	width:47%
}
	#related-posts
{
	margin:20px 0;
	font-size:14px;
	line-height:20px
}
	#related-posts h3
{
	padding:15px!important;
	font-size:21px;
	font-weight:400;
	text-transform:capitalize;
	z-index:2;
	color:#999;
	position:relative
}
	#related-posts img
{
	opacity:1
}
	#related-posts a
{
	text-align:center;
	margin:6px
}
	#main
{
	margin-top:10%
}
.post img
{
	max-width:100%;
	height:auto;
	margin:0 auto
}
.navbar-header
{
	float:left;
	padding-left:1%;
	width:100%
}
	html
{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
	@media print
{
	#related-posts img
{
	-webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;
	opacity:1;
	width:236px!important
}
	#related-posts a
{
	margin:2px;
	text-align:center;
	box-shadow:0 1px 1.5px 0 rgba(0,0,0,0.1)
}
.imgpost
{
	width:145px;
	height:65px;
	border:0 none;
	margin:3px 0 0;
	padding:0;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	font-size:14px;
	line-height:25px;
	font-size-adjust:none;
	font-stretch:normal
}
	*
{
	text-shadow:none!important;
	color:#000!important;
	background:transparent!important;
	box-shadow:none!important
}
	a,a:visited
{
	text-decoration:underline
}
.label
{
	border:1px solid #000
}

}

.img-responsive
{
	display:block;
	max-width:100%;
	height:auto
}
.img-thumbnail
{
	padding:4px;
	line-height:1.428571429;
	background-color:#fff;
	border:1px solid #ddd;
	border-radius:4px;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	display:inline-block;
	max-width:100%;
	height:auto
}
	p
{
	margin:0 0 10px
}
.small,small
{
	font-size:85%
}
.text-left
{
	text-align:left
}
.text-right
{
	text-align:right
}
.text-center
{
	text-align:center
}
.page-header
{
	padding-bottom:9px;
	margin:40px 0 20px;
	border-bottom:1px solid #eee
}
	ol,ul
{
	margin-top:0;
	margin-bottom:10px
}
	ol ol,ol ul,ul ol,ul ul
{
	margin-bottom:0
}
.list-inline,.list-unstyled
{
	padding-left:0;
	list-style:none
}
.thumbnail
{
	display:block;
	padding:0;
	line-height:1.428571429;
	background-color:#fff;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	border-radius:2px;
	box-shadow:0 1px 1.5px 0 rgba(0,0,0,0.1)
}
	a.thumbnail.active,a.thumbnail:focus,a.thumbnail:hover
{
	border-color:#428bca
}
.thumbnail .caption
{
	padding:9px;
	color:#333
}
.clearfix:after
{
	clear:both
}
.center-block
{
	display:block;
	margin-left:auto;
	margin-right:auto
}
.pull-right
{
	float:right!important
}
.pull-left
{
	float:left!important
}
.hide
{
	display:none!important
}
.show
{
	display:block!important
}
.invisible
{
	visibility:hidden
}
.text-hide
{
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0
}
.hidden
{
	display:none!important;
	visibility:hidden!important
}
.img-post-thumb:hover
{
	opacity:.8
}
.homapge-thumb
{
	width:290px;
	margin:5px 0;
	float:left
}
.row
{
	margin-left:-15px;
	margin-right:-15px
}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9
{
	position:relative;
	min-height:1px;
	padding-left:15px;
	padding-right:15px
}
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9
{
	float:left
}
.col-xs-12
{
	width:100%
}
.col-xs-11
{
	width:91.66666667%
}
.col-xs-10
{
	width:83.33333333%
}
.col-xs-9
{
	width:75%
}
.col-xs-8
{
	width:66.66666667%
}
.col-xs-7
{
	width:58.33333333%
}
.col-xs-6
{
	width:50%
}
.col-xs-5
{
	width:41.66666667%
}
.col-xs-4
{
	width:33.33333333%
}
.col-xs-3
{
	width:25%
}
.col-xs-2
{
	width:16.66666667%
}
.col-xs-1
{
	width:8.33333333%
}
	#container
{
	max-width:1250px
}
.img-home-thumb
{
	width:200px;
	height:130px
}
.hash-home
{
	float:left;
	margin-right:4px
}
.comment-link
{
	float:right
}
.rowpost
{
	margin:0!important;
	padding:10px 0 6px;
	border-radius:3px
}
.btn-danger
{
	color:#666;
	border:1px solid #ddd;
	background-color:#fff;
	border-radius:3px;
	padding:8px 36px
}
	#blog-pager
{
	margin:1em 0;
	text-align:center;
	overflow:hidden;
	padding:10px
}
.menu-search
{
	position:absolute;
	padding:10px 0;
	z-index:1000;
	left:0;
	display:none;
	background-color:#fff;
	box-shadow:0 2px 4px rgba(26,26,26,0.1);
	width:100%
}
.form-main-search
{
	width:100%;
	margin:0;
	padding:0 10px;
	font-size:64px;
	border:none;
	color:#6F6F6F;
	text-shadow:none
}
.menu-navigation
{
	position:absolute;
	z-index:1000;
	left:0;
	margin-top:7px;
	display:none;
	background-color:#fff;
	box-shadow:0 3px 4px rgba(26,26,26,0.1);
	width:250px
}
.menu-navigation ul li
{
	padding:5px 10px;
	display:none!important;
	border-top:1px solid #F7F7F7
}
.menu-navigation ul li.show-nav
{
	display:block!important;
	background:#f7f7f7
}
.menu-navigation ul li.show-nav a
{
	font-weight:400
}
.menu-navigation ul li a
{
	font-size:.6em;
	font-weight:300
}
.menu-navigation ul li a i
{
	color:#767681;
	width:30px
}
.main-top-nav .logo
{
	display:none
}
.menu-top-left img
{
	width:auto;
	height:100%;
	padding:2px
}
.menu-top-left
{
	display:inline-block;
	float:left;
	height:50px;
	font-size:33px;
	padding:5px 10px;
	vertical-align:top;
	text-transform:uppercase
}
.menu-top-left a
{
	text-decoration:none
}
.menu-top-left a span
{
	font-weight:100
}
.category-menu
{
	padding:0;
	width:auto
}
.category-menu ul li
{
	float:left;
	padding:0 10px;
	line-height:.5em
}
.category-menu ul li a
{
	font-size:.4em;
	color:#767681;
	font-weight:300
}
.category-menu ul li a span
{
	display:block;
	text-align:center;
	font-size:1.5em
}
.fixed-nav .category-menu ul li a
{
	font-weight:700
}
.fixed-nav ul li
{
	line-height:1em
}
.fixed-nav .menu-top-left span
{
	display:none
}
.fixed-nav .logo
{
	display:block
}
.fixed-nav .menu-navigation
{
	overflow:overlay!important;
	max-height:400px
}
.fixed-nav #child-nav
{
	top:45px
}
.fixed-nav .menu-top-left-mobile-search
{
	display:block!important
}
.menu-top-left-mobile-search
{
	display:none
}
.sidebar .widget-content
{
	padding:15px;
	background:rgba(255,255,255,0.38);
	margin-left:60px
}
.sidebar h2
{
	position:absolute;
	color:#fff;
	font-weight:100;
	width:42px;
	left:10px;
	font-size:3em;
	text-transform:uppercase;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	bottom:10px
}
.sidebar .widget-content ul
{
	padding:0
}
.sidebar .widget-content li
{
	display:inline-block;
	padding:0 10px
}
.sidebar .widget-content li a
{
	font-weight:700;
	color:#fff;
	font-size:1.2em
}
	#child-nav
{
	left:0;
	width:100%;
	display:block;
	height:auto;
	margin-left:0;
	margin-right:0;
	padding:0;
	top:55px;
	position:absolute;
	z-index:2000
}
	img.label_thumb
{
	float:left;
	padding:0;
	background:#fff;
	margin-right:10px;
	height:150px;
	width:100%;
	opacity:.6
}
	img.label_thumb:hover
{
	box-shadow:0 0 20px rgba(131,131,131,0.3),inset 0 0 20px rgba(0,0,0,0.04);
	opacity:1
}
	ul.label_with_thumbs .recent-title
{
	bottom:15%;
	position:absolute;
	padding:0 5px;
	font-weight:700;
	width:17.5%;
	color:#FFF
}
	ul.label_with_thumbs
{
	width:100%;
	padding:10px 0
}
	ul.label_with_thumbs li
{
	width:20%
}
.label_with_thumbs a
{
	color:#FFF;
	font-size:11pt;
	outline:0;
	text-decoration:none;
	display:block;
	background-color:rgba(0,0,0,0.32);
	padding:5px
}
.box-recentpost
{
	background-color:#EDB400;
	padding:10px;
	max-height:500px
}
.box-recentpost-title
{
	font-size:46px;
	font-weight:700
}
	ul.rcpost
{
	background-color:#fff;
	padding:10px;
	margin-top:10px
}
	ul.rcpost li
{
	list-style:none;
	margin:0;
	overflow:hidden;
	color:#797979
}
	ul.rcpost .rcthumbs
{
	float:left;
	margin:0 5px 5px 0
}
	ul.rcpost .rcthumbs img
{
	border-radius:50%
}
	ul.rcpost strong
{
	display:block
}
	ul.rcpost p
{
	padding:2px 0
}
	ul.rcpost .date,ul.rcpost .rccomments
{
	font-size:11px
}
	ul.rcpost .rccomments
{
	padding-left:5px;
	border-left:1px solid #969191
}
.topfluid
{
	background:#fff;
	padding:0 1%;
	display:block;
	position:relative;
	float:left;
	width:100%
}
.topfluid .top-bar
{
	margin:0;
	float:right
}
.topfluid .top-bar ul
{
	width:100%
}
.topfluid .top-bar ul li
{
	float:left;
	font-weight:700;
	padding:10px
}
.topfluid .connect
{
	float:right;
	width:100%;
	right:0;
	position:relative
}
.topfluid .connect span
{
	float:right;
	padding:0 10%;
	margin-left:15px;
	display:block;
	margin-top:10px;
	line-height:2em;
	background:#00C5FF;
	border-radius:2px;
	color:#fff;
	font-weight:500
}
.topfluid .connect a
{
	float:right;
	padding:5px 8px;
	background:#F3F3F3;
	margin:2px 5px;
	margin-top:12px
}
.hl-email
{
	padding:20px 0 20px 20px;
	background:#EFAC00;
	margin-left:-30px;
	margin-bottom:30px
}
.hl-email div
{
	font-size:3em;
	font-weight:700
}
.hl-email div span
{
	font-size:23px;
	line-height:1em;
	display:block;
	font-weight:300
}
.hl-email form
{
	margin:10px
}
.hl-email form .textarea
{
	font-size:2em;
	border:0;
	padding:0 16px;
	outline:0;
	width:80%;
	height:2em;
	color:grey
}
.hl-email form .hl-emailsubmit
{
	width:15%;
	background:none;
	outline:0;
	padding:5px 0;
	border:0;
	cursor:pointer;
	opacity:.5;
	font:2em fontAwesome
}
	#search
{
	background:#fff;
	border-radius:2px
}
	#search-form
{
	color:gray;
	width:88%;
	padding:10px;
	margin:0 auto;
	font-size:18px;
	transition:all .2s linear 0;
	border:1px solid #ccc;
	border-radius:2px
}
.search-button,.search-button:hover
{
	background-color:rgba(200,199,200,0.5);
	padding:9px;
	top:3px;
	width:76px;
	margin-left:-80px;
	cursor:pointer;
	border:none;
	position:relative;
	border-radius:0 2px 2px 0
}
	#search-form:hover
{
	border:2px solid #aaa
}
	#search-form:focus
{
	border:2px solid #B04DFE;
	outline:none;
	color:#000
}
	@media (min-width:240px) and (max-width:320px)
{
	#list-main
{
	margin:0 15px!important
}

}
	@media (max-width:240px)
{
.homapge-thumb
{
	width:225px!important;
	margin:5px!important
}

}
	@media (max-width:768px)
{
	ul.rcentside
{
	height:300px
}
.menu-navigation ul li
{
	display:block!important
}
.topfluid .connect
{
	padding-top:2%;
	box-shadow:none
}
.hide-tablet-vertical
{
	display:none!important
}
.logo
{
	display:block
}
.menu-top-left-mobile-logo
{
	margin-left:50%;
	position:absolute!important
}
.menu-toggle i
{
	display:none
}
.menu-top-left-mobile-search
{
	display:block!important;
	float:right!important;
	margin-right:15px
}
	#wrapper.toggled
{
	left:250px;
	position:absolute
}
	#list-main
{
	margin:0 auto
}
.container,.container-fluid
{
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px
}

}
	@media (max-width:1024px)
{
.hide-tablet-horizontal
{
	display:none!important
}

}
	@media (min-width:768px)
{
.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9
{
	float:left
}
.col-sm-12
{
	width:100%
}
.col-sm-11
{
	width:91.66666667%
}
.col-sm-10
{
	width:83.33333333%
}
.col-sm-9
{
	width:75%
}
.col-sm-8
{
	width:66.66666667%
}
.col-sm-7
{
	width:58.33333333%
}
.col-sm-6
{
	width:50%
}
.col-sm-5
{
	width:41.66666667%
}
.col-sm-4
{
	width:33.33333333%
}
.col-sm-3
{
	width:25%
}
.col-sm-2
{
	width:16.66666667%
}
.col-sm-1
{
	width:8.33333333%
}
.container
{
	width:750px
}
	#list-main
{
	margin:0 auto
}
	#HTML2 /* hiburan */
{
	background:#ea9a9f;
	display:none
}
	#HTML3/* lezat */
{
	background:#b7d557;
	display:none
}
	#HTML4 /* sehat */
{
	background:#5bd890;
	display:none
}
	#HTML5 /* edu */
{
	background:#f48e4a;
	display:none
}
	#HTML6 /* hobi */
{
	background:#4dd4b8;
	display:none
}
	#HTML7 /* hidup */
{
	background:#d589d5;
	display:none
}
	#HTML8 /* gaya */
{
	background:#ff65c0;
	display:none
}
	#HTML9 /* agama */
{
	background:#f4d34a;
	display:none
}
	#HTML10 /* tech */
{
	background:#68b9de;
	display:none
}
	#HTML11 /* perjalanan */
{
	background:#5fa2a1;
	display:none
}
	#HTML12 /* ekonomi */
{
	background:#eb4e3f;
	display:none
}
	#HTML13 /* kerja */
{
	background:#d4b184;
	display:none
}
	#HTML14 /* kendaraan */
{
	background:#9bacc3;
	display:none
}
	#HTML15 /* rumah */
{
	background:#7e507e;
	display:none
}

}
	@media (min-width:992px)
{
.container
{
	width:970px
}
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9
{
	float:left
}
.col-md-12
{
	width:100%
}
.col-md-11
{
	width:91.66666667%
}
.col-md-10
{
	width:83.33333333%
}
.col-md-9
{
	width:75%
}
.col-md-8
{
	width:66.66666667%
}
.col-md-7
{
	width:58.33333333%
}
.col-md-6
{
	width:50%
}
.col-md-5
{
	width:41.66666667%
}
.col-md-4
{
	width:33.33333333%
}
.col-md-3
{
	width:25%
}
.col-md-2
{
	width:16.66666667%
}
.col-md-1
{
	width:8.33333333%
}

}
	@media (min-width:1200px)
{
.container
{
	width:1250px
}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9
{
	float:left
}
.col-lg-12
{
	width:100%
}
.col-lg-11
{
	width:91.66666667%
}
.col-lg-10
{
	width:83.33333333%
}
.col-lg-9
{
	width:75%
}
.col-lg-8
{
	width:66.66666667%
}
.col-lg-7
{
	width:58.33333333%
}
.col-lg-6
{
	width:50%
}
.col-lg-5
{
	width:41.66666667%
}
.col-lg-4
{
	width:33.33333333%
}
.col-lg-3
{
	width:25%
}
.col-lg-2
{
	width:16.66666667%
}
.col-lg-1
{
	width:8.3333333px
}

}
