/* =============================================================================
   Tambahan / add ons
   ========================================================================== */
#list-main {
    margin: 0 auto;
}
/* masonry */
.masonry, .masonry .masonry-brick {
    -webkit-transition-duration: .7s;
    -moz-transition-duration: .7s;
    -ms-transition-duration: .7s;
    -o-transition-duration: .7s;
    transition-duration: .7s;
}
.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.masonry .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}

.post img {
     max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.thumbnail {
    display: block;
    padding: 0;
    line-height: 1.428571429;
    background-color: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 2px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.1);
}
.homapge-thumb {
  width: 290px;
  margin: 5px 0;
  float: left;
