.kotak-kecil{display:inline-block;width:10px;height:10px;background:#7e1de7;margin:0 5px 0 15px}.kotak-besar{width:30px;height:30px;margin:0 20px 0 0;display:inline-block;background:orange}.kotak{border:1px solid #e5e5e5;margin:20px 0;width:100%;padding:30px 35px;display:block;background:#f5f5f5;float:left}.kotak span.judul{font-weight:400;padding:0 0 20px;display:block;font-size:26px;color:#666;background:#f5f5f5}.kotak span.sub-judul{font-weight:300}.kotak .isi{border:2px solid #d8d8d8;background:#fff;padding:20px}.kotak .isi iframe{display:block;width:100%;box-shadow:none;border:none;overflow:hidden}.kotak .isi span{text-align:center;font-style:italic}.kotak-isi-pendahuluan{width:100%}.kotak-isi-pendahuluan img{max-width:100.5%;height:auto;margin-left:-2px;margin-top:-2px}.kotak-isi-pendahuluan .atas-kotak{padding:15px 20px;font-weight:500}.kotak-isi-pendahuluan p{display:inline;line-height:0;font-size:16px}.kotak-isi-pendahuluan p.isi{padding:5px 15px 20px}.kotak .isi .isi-bahan{font-size:17px}.kotak .isi-bahan{padding:0 0 0 20px;margin-bottom:35px;display:inline-block;width:100%;background:none;border:none}.kotak .isi-bahan ul li{border-bottom:2.6px dotted #d8d8d8;padding:6px!important;font-size:14px;font-weight:500;list-style-type:decimal;margin-left:20px}.kotak .isi-bahan ol li{border-bottom:2.6px dotted #d8d8d8;padding:6px!important;font-size:14px;font-weight:500;list-style-type:decimal;margin-left:20px}.kotak .isi-bahan p{border-bottom:2.6px dotted #d8d8d8;padding:6px!important;font-size:14px}.kotak .isi-langkah{padding:15px 30px;margin-bottom:35px;display:inline-block;width:100%}.kotak .isi-langkah p{padding-top:0!important;margin-bottom:0!important;padding-bottom:0!important;line-height:26px}.kotak .isi-langkah ol li{border-bottom:2.6px dotted #d8d8d8;padding:6px!important;font-size:14px;font-weight:500;list-style-type:decimal}.kotak .isi-langkah ul li{border-bottom:2.6px dotted #d8d8d8;padding:6px!important;font-size:14px;font-weight:500;list-style-type:decimal}.kotak .isi .gambar{width:100%;display:block}.kotak .isi .gambar img{width:100%}.kotak .isi .urutan{width:70px;margin-top:-10px;display:inline-block;font-size:50px;font-weight:700;color:#535353;float:left;text-align:center;font-style:normal}.kotak .isi-tips ul li{border-bottom:2.6px dotted #d8d8d8;padding:6px!important;font-size:14px;font-weight:500;list-style-type:decimal;margin-left:26px}.kotak .isi-tips ol li{border-bottom:2.6px dotted #d8d8d8;padding:6px!important;font-size:14px;font-weight:500;list-style-type:decimal;margin-left:26px}.kotak .isi-tips p{padding:6px!important;font-size:14px;font-weight:700}.kotak .isi-catatan ul li{padding:9px!important;list-style-type:decimal}.kotak .isi-catatan ol li{padding:9px!important;list-style-type:decimal}.kotak .isi-catatan p{padding:9px!important}.kotak .isi-referensi ul li{font-size:11px;font-weight:500;list-style-type:disc;margin-left:10px}.kotak .isi-referensi ol li{font-size:11px;font-weight:500;list-style-type:disc;margin-left:10px}.kotak .isi-referensi p{font-size:11px;font-weight:500}.kotak .isi ul{list-style-type:decimal}.kotak .isi ul.referensi-list{list-style-type:disc}.kotak .isi ul li{font-style:normal}.kotak .isi ul.referensi-list li{font-style:italic;font-size:16px}
  .slider {
position: relative;
max-height:200px;
margin: auto;
}

.slider ul {
margin: 0;
padding: 0;
}
.slider ul li {
list-style: none;
text-align: center;
}
.slider-arrow {
position: absolute;
top: 40px;
padding: 10px 30px;
background: rgba(77, 77, 77, 0.44);
color: #fff;
text-align: center;
text-decoration: none;
}
.sa-left {
left: 10px;
}
.sa-right {
right: 10px;
}
@media (max-width:1024px){
.slider {
width: 653px;
}
}
@media (min-width:1200px){
  .slider {
width: 900px;
}
}

/* ============ PAGER ===============*/
.mbt-pager { border-top: 2px dashed #ddd; border-bottom: 2px dashed #ddd;  margin-bottom: 10px;   overflow:hidden; padding:0px;} 
.mbt-pager li.next { float: right; padding:0px; background:none; margin:0px;} 
.mbt-pager li.next a { padding-left: 24px; }
.mbt-pager li.previous { margin:0px -2px 0px 0px; float: left;  border-right:1px solid #ddd; padding:0px; background:none; 
} 
.mbt-pager li.previous a { padding-right: 24px;  }
.mbt-pager li.next:hover, .mbt-pager li.previous:hover  {background:#8FB4D7; }
.mbt-pager li { width: 50%; display: inline; float: left; text-align: center; } 
.mbt-pager li a { position: relative; min-height: 77px; display: block; padding: 15px 46px 15px; outline:none; text-decoration:none;}
.mbt-pager li i { color: #ccc; font-size: 18px; }
.mbt-pager li a strong { display: block; font-size: 20px; color: #ccc; letter-spacing: 0.5px; font-weight: bold; text-transform: uppercase;}
.mbt-pager li a span { font-size: 18px; color: #666;font-family: 'Slabo 27px' serif; margin:0px;} 
.mbt-pager li a:hover span, 
.mbt-pager li a:hover i { color: #ffffff; } 
.mbt-pager li.previous i { float:left; margin-top:8%; margin-left:5%; } 
.mbt-pager li.next i { float: right; 
margin-top: 8%; 
margin-right: 5%; }
.mbt-pager li.next i, .mbt-pager li.previous i , 
.mbt-pager li.next,  .mbt-pager li.previous{ 
-webkit-transition-property: background color; -webkit-transition-duration: 0.4s; -webkit-transition-timing-function: ease-out; 
-moz-transition-property: background color; -moz-transition-duration: 0.4s; -moz-transition-timing-function: ease-out; 
-o-transition-property: background color; -o-transition-duration: 0.4s; -o-transition-timing-function: ease-out; 
transition-property: background color; transition-duration: 0.4s; transition-timing-function: ease-out; }
.fa-chevron-right {padding-right:0px;}
